<h1 mat-dialog-title>Add project</h1>
<form (ngSubmit)="addProject(newProject)" #projectForm="ngForm" class="example-form">
  <div mat-dialog-content class="dialog-content">
    <div class="form-row">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Project Name</mat-label>
        <input matInput [(ngModel)]="newProject.name" name="name" placeholder="Enter project name">
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput [(ngModel)]="newProject.description" name="description"
          placeholder="Enter description"></textarea>
      </mat-form-field>
    </div>

    <h3 style="font-weight: 700;">Stage</h3>

    <div class="form-row">
      <!-- <mat-form-field class="form-field" appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="newStage.name">
      </mat-form-field> -->
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Name</mat-label>
        <mat-select [(ngModel)]="newStage.name" name="stageName">
          <mat-option *ngFor="let stageName of stageNames" [value]="stageName.value">
            {{stageName.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Deadline</mat-label>
        <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date" [formControl]="stageDeadline">
        <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #picker [showSeconds]="false" [showSpinners]="true">
        </ngx-mat-datetime-picker>
      </mat-form-field>

    </div>
    <div class="form-row">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="Enter description" [(ngModel)]="newStage.description"></textarea>
      </mat-form-field>
    </div>

  </div>

  <div mat-dialog-actions class="dialog-actions">
    <button mat-raised-button [mat-dialog-close]="newProject" type="submit" cdkFocusInitial color="primary"
      [disabled]="!projectForm.valid">Add Project</button>
    <button mat-button (click)="onNoClick()">No Thanks</button>
  </div>
</form>