
<!-- <ul>
  <li *ngFor="let user of users">
    {{user.id}} - {{user.userName}}
  </li>
</ul> -->

<app-navbar></app-navbar>

<div class="container">
  <!-- <div class="row">
    <div class="col-6">
      <img src="" alt="Logo" class="img-fluid">
    </div>
    <div class="col-6 text-end">
      <a routerLink="/profile">User Profile</a>
    </div>
  </div> -->
  <div class="row mt-3">
    <div class="col-6">
      <a routerLink="/create-project" class="btn btn-primary">Create Project</a>
    </div>
    <div class="col-6 text-end">
      <a routerLink="/projects" class="btn btn-outline-primary">View Projects</a>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12">
      <h2>Projects</h2>
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>User</th>
            <th>Name</th>
            <th>Description</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let project of users">
            <td>{{project.id}}</td>
            <td>{{project.userName}}</td>
            <td>{{project.name}}</td>
            <td>{{project.description}}</td>
            <td>{{project.projectStatus}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-6">
      <a routerLink="/about">About</a>
    </div>
    <div class="col-6 text-end">
      <a routerLink="/contact">Contact Us</a>
    </div>
  </div>
</div>

