<div class="sidebar">
    <div class="sidebar-header">
      <h3>Timetraker</h3>
    </div>
    <ul class="sidebar-nav">
      <li class="sidebar-item">
        <a routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li class="sidebar-item">
        <a routerLink="/projects" routerLinkActive="active">Projects</a>
      </li>
      <li class="sidebar-item">
        <a routerLink="/about" routerLinkActive="active">About</a>
      </li>
      <li class="sidebar-item">
        <a routerLink="/contact" routerLinkActive="active">Contact</a>
      </li>
    </ul>
  </div>
  