<mat-toolbar>
        <h4>Timetracker</h4>
        <mat-button-toggle value="left" aria-label="Text align left" (click)="opened = !opened">
                <mat-icon>format_align_left</mat-icon>
        </mat-button-toggle>
        <div class="username">
                {{ username }}
        </div>
</mat-toolbar>


<mat-sidenav-container>
        <mat-sidenav mode="over" [(opened)]="opened">
                <mat-nav-list>
                        <a mat-list-item routerLink="/dashboard">
                                <mat-icon>dashboard</mat-icon> Dashboard
                        </a>
                        <button mat-list-item routerLink="/projects" (onclick)="onClickProjects()">Projects</button>
                        <a mat-list-item routerLink="/tasks"><mat-icon>task</mat-icon>Tasks</a>
                        <a mat-list-item routerLink="/reports"><mat-icon>bar_chart</mat-icon>Reports</a>
                        <a mat-list-item routerLink="/settings"><mat-icon>settings</mat-icon>Settings</a>
                        <a mat-list-item routerLink="/profile"><mat-icon>account_circle</mat-icon>Profile</a>
                </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
                <router-outlet></router-outlet>
        </mat-sidenav-content>
</mat-sidenav-container>