<div class="user-profile-wrapper">
    <div class="edit-profile">
        <div>
            <mat-spinner value="40" mode="determinate"></mat-spinner>
        </div>
        <div class="edit-profile-desc">
            <h3>Edit your profile</h3>
            <p>Your profile description</p>
        </div>
        <div>
            <button mat-raised-button color="primary" type="button" class="add-project-btn" (click)="editMode = !editMode"> Edit profile </button>
        </div>
    </div>

    <div class="user-profile">
        <div class="user-profile-info">
            <div class="profile-picture">
                <img src="https://cdn-icons-png.flaticon.com/512/219/219986.png" alt="Profile Picture">
            </div>
            <div class="profile-content">
                <div class="project-count">
                    <p>{{ user.projects.length }}</p>
                    <span>Projects</span>
                </div>
                <div class="buttons-container">
                    <button mat-raised-button color="primary" type="button" class="change-password-btn"
                        (click)="openChangePasswordDialog()">Change
                        Password</button>
                    <button mat-raised-button color="warn" type="button" class="delete-account-btn"
                        (click)="openDeleteAccountConfirmationDialog()">Delete
                        Account</button>
                </div>
            </div>
        </div>
        <div class="user-profile-editor">
            <h2 class="usr-title">Personal Information
            </h2>
            <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                <div>
                    <label for="username">Username:</label>
                    <input type="text" id="username" formControlName="username" [disabled]="!editMode">
                    <div *ngIf="profileForm.get('username').invalid && profileForm.get('username').touched">
                        <small>Username is required.</small>
                    </div>
                </div>

                <div>
                    <label for="firstName">First Name:</label>
                    <input type="text" id="firstName" formControlName="firstName" [disabled]="!editMode">
                    <div *ngIf="profileForm.get('firstName').invalid && profileForm.get('firstName').touched">
                        <small>First name is required.</small>
                    </div>
                </div>

                <div>
                    <label for="lastName">Last Name:</label>
                    <input type="text" id="lastName" formControlName="lastName" [disabled]="!editMode">
                    <div *ngIf="profileForm.get('lastName').invalid && profileForm.get('lastName').touched">
                        <small>Last name is required.</small>
                    </div>
                </div>

                <div>
                    <label for="email">Email:</label>
                    <input type="email" id="email" formControlName="email" [disabled]="!editMode">
                    <div *ngIf="profileForm.get('email').invalid && profileForm.get('email').touched">
                        <small>Email is required and must be a valid email address.</small>
                    </div>
                </div>

                <button type="submit" [disabled]="profileForm.invalid || !editMode">Save</button>
            </form>

        </div>
    </div>
</div>


<!-- <div class="user-profile">
    <div class="profile-header">
        <div class="profile-circle">
            <span>{{ user.firstName.charAt(0) }}{{ user.lastName.charAt(0) }}</span>
        </div>
        <h1>User Profile</h1>
    </div>
    <div class="profile-info">
        <div class="info-row">
            <label>Username:</label>
            <span>{{ user.userName }}</span>
        </div>
        <div class="info-row">
            <label>First Name:</label>
            <span>{{ user.firstName }}</span>
        </div>
        <div class="info-row">
            <label>Last Name:</label>
            <span>{{ user.lastName }}</span>
        </div>
        <div class="info-row">
            <label>Email:</label>
            <span>{{ user.email }}</span>
        </div>
    </div>
</div> -->