<div class="dashboard-wrapper">
    <div class="header">
        <mat-form-field appearance="fill" class="header-input-form">
            <input matInput [(ngModel)]="newProjectName" placeholder="What project do you want to work on?">
        </mat-form-field>
        <button mat-fab color="primary" class="add-project-btn" (click)="openDialog()">
            <mat-icon>add</mat-icon>
        </button>
        <app-stopwatch class="container"></app-stopwatch>
    </div>
    <div class="statistics-current-project">
        <div class="current-project"></div>
        <div class="statistics"></div>
    </div>
</div>