.dashboard-wrapper {
    display: flex;
    flex-direction: column;
    height: 97vh;
    background-color: aqua;
}

.header {
    display: flex;
    align-items: stretch;
    /* flex-direction: row;
    justify-content:space-between; */
    width: 100%;
    height: 100px;
    background-color: gainsboro;
    position: fixed;
    /* border-radius: 20px; */
    /* margin-right: 10px; */
}

.timer {
    display: flex;
    align-items: center;
    align-self: center;

    /* display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkorange;
    width: 160px; */
}

.statistics-current-project {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: green;
}

.current-project {
    width: 65%;
    align-self: flex-start;
    height: 100%;
    background-color: darkgray;
}

.statistics {
    width: 35%;
    align-self: flex-end;
    height: 100%;
    background-color: darkgray;
}

.header-input-form {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    align-self: center;
    /* width: 50%; */
    /* height: 60px; */
    margin-left: 20px;
    margin-top: 40px;
}

.add-project-btn {
    /* position: absolute; */
    display: flex;
    align-items: center;
    align-self: center;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
    /* margin-left: 30px;
    margin-top: 27px; */
    background-color: #7fa8b5;
}

.example-form {
    max-width: 50px;
    margin-left: 300px;
}

mat-card-content {
    text-align: center;
}

.example-full-width {
    max-width: 900px;
    margin: auto;
    width: 350px;

}

h2 {
    text-align: center;
    margin-left: 350px;
}

mat-card {
    max-width: 800px;
    /* margin-left: 300px; */
    text-align: center;

}

.closebtn {
    width: 200px;
    height: 50px;
    margin-left: 100px;
    top: 200px;
}

/* .add-project-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
} */

.add-project-form {
    margin-top: 20px;
}

mat-form-field {
    width: 100%;
    margin-bottom: 20px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
}


.container {
    text-align: center;
    font-family: Lato;
    display: flex;
    align-items: center;
    align-self: center;
}

.timer-counter-label {
    align-items: center;
    font-size: 27px;
}

.timer-start-text {
    font-size: 20px;
}

.timer-button {
    outline: none;
    cursor: pointer;
    border: 1px solid #007bff;
    border-radius: 5px;
    background: #007bff;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    margin: 5px 10px;
    min-width: 100px;
}

.timer-button:hover {
    background: #0069d9;
    border: 1px solid #0062cc;
}

.disabled {
    cursor: not-allowed;
    background-color: #6c757d;
    border: 1px solid #6c757d;
}

.disabled:hover {
    cursor: not-allowed;
    background-color: #5a6268;
    border: 1px solid #545b62;
}

.blink {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}